h1, h2 {
    font-family: Lato;
    text-align: center;
  }
  body {
              background: white;
              padding: 20px;
          }
  
          table {
              margin: 0 auto;
              border-collapse: collapse;
              background: black;
              border: 2px outset black;
          }
  
          td {
              width: 50px;
              height: 50px;
          }
  
          tr:nth-child(even) td:nth-child(even),
          tr:nth-child(odd) td:nth-child(odd) {
              background: white;
          }
  
          .red {
              background: red !important;
          }